canvas {
}
body {
   margin: 0;
   overflow: hidden;
   box-sizing: border-box;
}
#toolBox {
    position: fixed;
    top: 10px;
    left: 10px;
    margin: 8px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 }
 
 /* #toolBox {
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 5px;
 } */
 
